@model WOASS.Models.ViewModels.WorkListViewModel
@*SqlException: Invalid column name 'WorkId'.
    Invalid column name 'WorkId'.*@
<h2>Work Orders</h2>

<hr />

@foreach (Work w in Model.WorkOrders)
{
    @Html.Partial("WorkSummary", w)
}
