@model Gear

<form method="post">
    ID:
    <input asp-for="Id" type="number"/>
    <br />

    Make:
    <input asp-for="Make" type="text"/>
    <br />

    Model:
    <input asp-for="Model" type="text"/>
    <br />

    Size:
    <input asp-for="Size" type="number"/>
    <br />

    UserId:
    <input asp-for="UserId" type="number"/>
    <br />

    <input type="submit" value="Save Gear" />

</form>
